@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Red: hsl(4, 100%, 67%);

  --Blue800: hsl(234, 29%, 20%);
  --Blue700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
  font-size: 16px;

  --txt-1: normal 700 56px/1 "Roboto", sans-serif;
  --txt-1m: normal 700 40px/1 "Roboto", sans-serif;
  --txt-2b: normal 700 16px/1.5 "Roboto", sans-serif;
  --txt-2: normal 400 16px/1.5 "Roboto", sans-serif;
  --txt-3b: normal 700 12px/1.5 "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--txt-2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Blue700);
  min-height: 100vh;
}

/* Mobile First */
.container {
  width: 100%;
  height: 100vh;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  gap: 1.2rem;
}
.img-div {
  width: 100%;
  height: 400px;
}

.imgsrc {
  content: url("../assets/images/illustration-sign-up-mobile.svg");
  width: 100%;
  height: min(400px, 100%);
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  align-items: flex-start;
  padding: 1.2rem 2rem;
}
.container h1 {
  font: var(--txt-1m);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font: var(--txt-2);
}

.inner-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
}
.inner-text img {
  height: 1rem;
}
.inner-text p {
  display: flex;
  align-items: center;
}
form .input label {
  font: var(--txt-3b);
  font-weight: 600;
  color: var(--Blue800);
  display: flex;
  justify-content: space-between;
}
.valid {
  color: var(--Red);
  visibility: hidden;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
}
form input {
  padding: 12px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  width: 100%;
  transition: border-color 0.2s;
}

.input.alert input {
  color: var(--Red);
  border: 1px solid var(--Red);
}
form input:focus {
  border-color: var(--Grey);
}

form button {
  background-color: var(--Blue800); /* dark blue */
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  font: var(--txt-2b);
  cursor: pointer;
  font-weight: 600;
  transition: opacity 0.2s;
}

form button:hover {
  background: linear-gradient(to right, #ff6a3a, #ff527b);
  box-shadow: 4px 7px 9px rgba(255, 98, 87, 0.5);
}
/* Tablet */
@media (min-width: 610px) and (max-width: 1100px) {
  .container {
    width: 608px;
    height: 878px;
    padding: 40px;
    border-radius: 0.8rem;
  }
  .img-div {
    width: 528px;
  }
  .imgsrc {
    content: url("../assets/images/illustration-sign-up-tablet.svg");
    object-fit: cover;
  }
  .content {
    padding: 1rem;
    gap: 2rem;
  }
  .content h1 {
    font: var(--txt-1);
  }
}
/* Desktop */
@media (min-width: 1100px) {
  .container {
    width: 904px;
    height: 641px;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px;
    border-radius: 0.8rem;
  }
  .img-div {
    height: 100%;
  }
  .imgsrc {
    content: url("../assets/images/illustration-sign-up-desktop.svg");
    height: 100%;
    object-fit: cover;
  }
  .content {
    padding: 1rem;
    gap: 2.5rem;
  }
  .content h1 {
    font: var(--txt-1);
  }
}
